---
permalink: alba.html
galleryImages:
  - images/alba/alba1.webp
  - images/alba/alba3.webp
  - images/alba/alba4.webp
  - images/alba/alba5.webp
  - images/alba/alba6.webp
  - images/alba/alba7.webp
  - images/alba/alba8.webp
  - images/alba/alba9.webp
  - images/alba/alba10.webp
  - images/alba/alba12.webp
  - images/alba/alba13.webp
  - images/alba/alba14.webp
  - images/alba/alba15.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/alba/alba15.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
       <p>a performative parcours through bodily textures and gestures.</p>
<p>the rose in both its white and red form is a potent alchimist symbol. through its power we can transform our current way of being human. a curiosity for transcendental potential leads the performers on a parcours of play, scourge, siblinghood, and desire.</p>

<p>performed 29th June 2024 at fusion festival Laerz</p>
<p>special thanks to Emil Torp</p>
      </div>

      <div class="detail-text">
 <p>concept and performance: Jonah Martensen and Alina Trionow</p>
<p>photo credits: Martin Streiter</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
