---
permalink: crycry.html
galleryImages:
  - images/crycry/crycry2.webp
  - images/crycry/crycry3.webp
  - images/crycry/crycry4.webp
  - images/crycry/crycry5.webp
  - images/crycry/crycry6.webp
  - images/crycry/crycry7.webp
  - images/crycry/crycry8.webp
  - images/crycry/crycry9.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/crycry/crycry1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
       <p>the mothership has landed, a call to all of humanity to claim their right to release. dr. cry cry came to earth to teach the humans how to cry.</p>
      <p>music and dance performance, dr. cry cry and his alien assistants.</p>
        <p>Bei Zeitkins jüngstem Auftritt veranstalteten wir eine Therapiesitzung als Intervention während eines PEP (Punk Electro Performance). Dr. Cry Cry und seine
Assistenten statteten der Erde einen Besuch ab, in der
Hoffnung, den Menschen zu helfen, ihren Schmerz zu überwinden. Ihre Methoden mögen unorthodox
gewesen sein, aber da ihr Verständnis der menschlichen Anatomie und Psychologie schnell wuchs, waren sie in der Lage zu verstehen, was alles Leben im Universum miteinander verbindet: der Wunsch nach Befreiung.
Die Aufführung endete daher in einer Schrei-Meditation.</p>

    <p>performed November 2023 at DIE GERBER, Weimar (DE)</p>
      </div>

      <div class="detail-text">
       <p>concept and performance: Jonah Martensen, Janina Heinrich, and Thai Thai Pham</p>
    <p>photo credit: @kayakanein</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
