---
permalink: exercises.html
galleryImages:
  - images/exercises/exercises2.webp
  - images/exercises/exercises3.webp
  - images/exercises/exercises4.webp
  - images/exercises/exercises5.webp
  - images/exercises/exercises6.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/exercises/exercises1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p>during the sweet summer days of this July I had the pleasure of spending a week on the former NATO-base „Raketenstation“ near Neuss, Germany. an ambitious realtor bought the compound just after its military use had seized in 1990. in an effort to „strengthen the arts“ he invited many architect-artists to work on the grounds. most buildings in the area are so-called „art objects“ erected in the 90s. with an uncanny passion for the grand and inhospitable, they created a dystopian cosmos of statues and house-like objects. while many buildings are out of use, those that are inhabited are granted to artists through ever so elusive procedures. there even exists a private theatre, open only to members of the corresponding art society.</p>
<p>taking images of the art objects is prohibited due to legal and copyright restrictions.</p>
<p>what is this world at Hombroich really about? what are its agents and agencies? how come, certain imagery is prohibited while other is encouraged? by whose playbook do we want to play? representing reality in media comes with a whole bundle of questions.</p>
<p>the one I propose:</p>

<p>what is it to see a body?</p>
<p></p>
<p>stills from a seven minute video work</p>
<p>July 2024</p>
      </div>

      <div class="detail-text">
<p>concept: Jonah Martensen</p>
<p>camera: Letizia Aurora Calasso</p>
      </div>
      {% include "detail-gallery.html" %}
  </main>
</body>
</html>
