---
permalink: freund.html
galleryImages:
  - images/freund/freund1.webp
  - images/freund/freund2.webp
  - images/freund/freund3.webp
  - images/freund/freund4.webp
  - images/freund/freund5.webp
  - images/freund/freund6.webp
  - images/freund/freund7.webp
  - images/freund/freund8.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/freund/freund5.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p>how to be friend?
how to befriend?</p>
<p></p>
<p>what may colloquially be called friendship, ultimately, is not one fixed thing and definitely not an easy one to comprehend. filled with sass, rivalry, violence, and tenderness, <i>freund</i> is an exploration of the bonds between two people.</p>
<p>the duet questions what makes or breaks a queer man. both performers draw upon their experiences of having been socialised as a male, or rather, into becoming a male. this process leaves unabandonable traces. however, there exists the possibility of reframing, reclaiming and writing one’s present not as a slave of one’s past.</p>
<p></p>
<p><i>„In our mini skirts, drinking champagne till it hurts, oh yeah</i></p>
<p><i>You know you always will be my girl</i></p>
<p><i>Tryna pull us into the real world</i></p>
<p><i>You know these lonely people hate this</i></p>
<p><i>The way we’re always hand in hand, side by side</i></p>
<p><i>G-g-g-got our matching Juicy lockets</i></p>
<p><i>Keep our celly in our pockets</i></p>
<p><i>You’re my sexy little BFF“</i></p>


<p>performed February 2026 at MUK.Theater, Vienna (AT) and June 2026 at SHARE.festival, Bratislava (SK)</p>
 </div>

      <div class="detail-text">
        <p>concept and choreography: Jonah Martensen and Moritz Grossmann</p>
<p>music: BFF by Slayyyter (feat. Ayesha Erotica), the city is calm at this hour by miffle</p>
<p>photo credits: Laurent Ziegler</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
