---
permalink: horizont.html
galleryImages:
  - images/horizont/horizont2.webp
  - images/horizont/horizont3.webp
  - images/horizont/horizont4.webp
  - images/horizont/horizont5.webp
  - images/horizont/horizont6.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/horizont/horizont1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
        <p>A country road at dawn. A being in the field. What is it doing?
What does it actually want from us?
Is it here to convey a message?
In this context, narrative structure recedes into the background
whenever the purely visual comes to the fore.
An interplay between action and appearance.
The original video was nearly 40 minutes long, requiring me to make drastic cuts. Consequently, the video should be viewed
more as a summary of what transpired in that field than as a straightforward documentary. I found it particularly compelling to behave without inhibition in such an exposed, highly visible location, thereby forcing a reaction from passing drivers. The persona of the "being" emerged in that field.
Therein lies both a strength and a vulnerability.
Initially hidden within the costume, then increasingly revealed. Showing
oneself as a process of liberation. And this liberation unfolds through dance. Entirely without music and guided
by its own rhythm, the being dances its dance in the field.
It is filled with love for this mother earth— and also for the people to whom it appears incomprehensible.</p>
      </div>

      <div class="detail-text">
        <p>concept and performance: Jonah Martensen
        <p>video: Martha Steinmetz</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
