---
permalink: keller.html
galleryImages:
  - images/keller/keller2.webp
  - images/keller/keller3.webp
  - images/keller/keller4.webp
  - images/keller/keller5.webp
  - images/keller/keller6.webp
  - images/keller/keller7.webp
  - images/keller/keller8.webp
  - images/keller/keller9.webp
  - images/keller/keller10.webp
  - images/keller/keller11.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/keller/keller10.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
        <p>When I ask you: who do you want to be?
        You cannot answer ⸺ 
        When I ask you: who do you dare to be?
        Your eyes start watering ⸺ 
        I reach to your hand and there is a small mole, I stroke it.
        And then I say: close your eyes, hear the music, DANCE, let loose, let the world fade and find within: courage, daring, grandeur and strength.
      </div>

      <div class="detail-text">
        <p>concept and performance: Jonah Martensen and Janina Heinrich
        <p>video: Julia Schöffel</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
