---
permalink: never.html
galleryImages:
  - images/never/never2.webp
  - images/never/never3.webp
  - images/never/never4.webp
  - images/never/never5.webp
  - images/never/never6.webp
  - images/never/never7.webp
  - images/never/never8.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/never/never1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p><i>“You know that place between sleep and awake, that place where you still remember dreaming? That’s where I’ll always love you, Peter Pan. That’s where I’ll be waiting.”</i></p>
<p>from <i>Hook</i> by Steven Spielberg</p>
<p>performed 11th July 2024 in front of 11m3-Projektraum, Weimar (DE)</p>
<p>special thanks to Ossian Osborne and August Guccione</p>
<p><i>NEVER NEVER LAND</i> was a featured performance as part of the exhibition <i>Love Will Tear Us A Party</i> by Ossian Osborne and August Guccione. it was on display in July 2023 at 11m3-Projektraum in Weimar, Germany.</p>
      </div>

      <div class="detail-text">
<p>concept and performance: Jonah Martensen</p>
<p>photo credits: Carlos Santos</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
