---
permalink: rubea.html
galleryImages:
  - images/rubea/rubea2.webp
  - images/rubea/rubea3.webp
  - images/rubea/rubea4.webp
  - images/rubea/rubea5.webp
  - images/rubea/rubea6.webp
  - images/rubea/rubea7.webp
  - images/rubea/rubea8.webp
  - images/rubea/rubea9.webp
  - images/rubea/rubea10.webp
  - images/rubea/rubea11.webp
  - images/rubea/rubea12.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/rubea/rubea8.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
    <p>a performative parcours through bodily textures and gestures.</p>
<p>the rose in both its white and red form is a potent alchimist symbol. through its power we can transform our current way of being human. a curiosity for transcendental potential leads the performers on a parcours of play, scourge, siblinghood, and desire.</p>

<p>performed 28th June 2024 at Kunstverein Jena Sommerfest </p>
<p>special thanks to Michaela Mai</p>
      </div>

      <div class="detail-text">
 <p>concept and performance: Jonah Martensen and Alina Trionow</p>
<p>video credits: Kalle Lino Ehrenstein</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
