---
permalink: studio.html
galleryImages:
  - images/studio/studio2.webp
  - images/studio/studio3.webp
  - images/studio/studio4.webp
  - images/studio/studio5.webp
  - images/studio/studio6.webp
  - images/studio/studio7.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/studio/studio1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
   <p>there is no such thing as cleaning.</p>
<p>contamination: matter out of place</p>

<p>I bathe in sunflower oil, the oil of my youth. </p>
<p>a friend tries to wash me clean with a bar of goat milk soap. </p>
<p>there is no such thing as cleaning, only redirecting matter.</p>

<p>special thanks to Carsten Saeger</p>
      </div>

      <div class="detail-text">
<p>concept: Jonah Martensen</p>
<p>together with Paula Jänig</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
