---
permalink: thelaughingdove.html
galleryImages:
  - images/thelaughingdove/thelaughingdove2.webp
  - images/thelaughingdove/thelaughingdove3.webp
  - images/thelaughingdove/thelaughingdove4.webp
  - images/thelaughingdove/thelaughingdove5.webp
  - images/thelaughingdove/thelaughingdove7.webp
  - images/thelaughingdove/thelaughingdove8.webp
  - images/thelaughingdove/thelaughingdove9.webp
  - images/thelaughingdove/thelaughingdove11.webp
  - images/thelaughingdove/thelaughingdove12.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/thelaughingdove/thelaughingdove1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p>the word „heimat“ (roughly: homeland) kickstarted this solo work. I asked myself: what is the place I can call home? what are the lands I grew up in, whose is the soil on which I learned to walk? the tongue of my mothers, and grandmothers was imported from the east and north, shaped through famine and fleeing. and who are they, the mothers?
all which led to the me-body I have and am today.</p>
<p><i>the laughing dove</i> interrogates families’ ways of narrating a story, how identity is crafted on the yard of the rural elementary school, and how the woods are essential to children, because they can hide from the world in them.</p>

<p>performed February 2025 at MUK.Theater, Vienna (AT)</p>
</div>

      <div class="detail-text">
  <p>concept and choreography, performance: Jonah Martensen</p>
<p>music: Les racines du rêve by Henry Torgue & Serge Houppin, Oriental hora by Dave Tarras, Déferlante by René Aubry, Sonatas and Interludes for Prepared Piano No. 8 by John Cage & Boris Berman</p>
<p>photo credits: Laurent Ziegler</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
