---
permalink: tolayatrack.html
galleryImages:
  - images/tolayatrack/tlat2.webp
  - images/tolayatrack/tlat3.webp
  - images/tolayatrack/tlat4.webp
  - images/tolayatrack/tlat5.webp
  - images/tolayatrack/tlat6.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/tolayatrack/tlat1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
        <p>in <i>to lay a track</i>, five dancers explore the traces that their movements leave behind. on their own bodies, in space, on each other - solo, in pairs, as a collective body. Through forming the body from the inside and uncovering it from the outside, this piece is working with the question of body politics.</p>
<p>the performers leave shells behind, give and receive impulses and work with the ever-changing arrangement of their bodies in space. The choreographic work is characterized by the (violent) gaze on bodies and by the power of queer union.</p>
<p>through a shared process of artistic research, the five performers investigate how the body
inscribes traces, makes relationships perceptible, and generates meaning. within this interplay of
inquiry and embodiment, a new movement vocabulary takes shape, unfolding between reflection
and sensation.</p>

<p>performed at MUK.Theater, Vienna (AT), Dance.Identity.Festival, Eisenstadt (AT), NOVÉ GENERACE Festival, Prague (CZ), Brunnenpassage, Vienna (AT)</p>
      </div>

      <div class="detail-text">
<p>concept: Leonie Frühe</p>
<p>choreography: Leonie Frühe in collaboration with the dancers</p>
<p>dancers: Brice Berthelot, Leonie Frühe, Srđan Ivanović, Katharina Kern, Jonah Martensen, Daniela Pagitsch, Barbara Rettig</p>
<p>music:</p> 
<p>photo credits:</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
