---
permalink: wirsindzwei.html
galleryImages:
  - images/wirsindzwei/wirsindzwei2.webp
  - images/wirsindzwei/wirsindzwei3.webp
  - images/wirsindzwei/wirsindzwei4.webp
  - images/wirsindzwei/wirsindzwei5.webp
  - images/wirsindzwei/wirsindzwei6.webp
  - images/wirsindzwei/wirsindzwei7.webp
  - images/wirsindzwei/wirsindzwei8.webp
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/wirsindzwei/wirsindzwei1.webp" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p>we are two, we invent a new space, we invite into it, we configure it, we let go in order to find each other, we dare to grow nearer, we move within our space, we find what we had never searched, we cannot lie with our bodies.</p>
<p>performed July 2023 at Schillermuseum, Weimar (DE)</p>
<p>dance performance as part of the exhibition „POWER HOUSE - Episode 03 can’t stop won’t stop“.</p>
<p>special thanks to Schillermuseum and marke.6</p>
      </div>

      <div class="detail-text">
        <p>concept and performance: Jonah Martensen and Janina Heinrich</p>
<p>camera: Julia Schöffel</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
