---
permalink: writing.html
galleryImages:
  - images/writing/writing1.png
---
<!DOCTYPE html>
<html>
<head>
  <title>JONAH MARTENSEN</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <main class="project-page">
    <section class="hero-screen">
      <img class="hero-image" src="images/writing/writing1.png" alt="Featured artwork">

      {% include "navigation.html" %}
    </section>

    <section class="project-content">
      <div class="project-text">
<p>UNDER CONSTRUCTION</p>

 </div>

      <div class="detail-text">
        <p>UNDER CONSTRUCTION</p>
      </div>
      {% include "detail-gallery.html" %}
    </section>
  </main>
</body>
</html>
